<br>
<!-- <div class="container bg-dark text-white rounded"> -->
  <br>
  <div class="row">
    <h1 class="col-11"><%= @post.title %></h1><h4><%= link_to "х", home_path %></h4>
    <!-- <p class=" text-muted">11 нояб 2018г.</p> -->
  </div>
  <div class="container">
    <p><%= @post.body %></p>
    <!-- <br> -->
    <p class="float-right text-muted"><%= @post.created_at %></p>

  </div>
  <hr>
  <div class="container float-right">
    <div class="float-right ">
      <img class="rounded-circle" <%= gravatar_for @post.user, size: 40, :class => 'rounded-circle' %>
      <%= @post.user.name %>
    </div>
    <%= link_to "Редактировать", edit_post_path(@post), :class => 'btn btn-warning' %>
    <%= link_to "Удалить пост", post_path(@post), method: :delete,
    data: {confirm: "Хотите удалить статью?"}, :class => 'btn btn-danger' %><br>
  </div>
<br>
<br>
<h2>Все комментарии:</h2>
<% @post.comments.each do |comment| %>
  <div class="alert bg-dark text-white rounded">
    <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
  </div>
<% end %>

<hr>
<div class="container">
  <h2>Добавление коминтария</h2>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
      Пользователь<br>
      <%= f.text_field(:username, {:class => 'form-control'}) %>
    </p>
    <p>
      Текст коминтария<br>
      <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
      <%= f.submit("Добавить",{:class => 'btn btn-dark'}) %>
    </p>
    <br>
  <% end %>
</div>
